*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: #121214;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: white;
}
#timer, #app{
    display: flex;
}
#app{
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 24px;
}
#timer{
    font-size: 128px;
    font-weight: bold;
}
#controls{
    padding: 12px 56px;
    border-radius: 9999px;
    background: #242424;
}
#controls button{
    font-size: 32px;
    color: white;
    border: none;
    background: rgba(255, 255, 255, .1);
    border-radius: 50%;
    padding: 16px;
    cursor: pointer;
}